@inherits LayoutComponentBase

<PageTitle>fluent</PageTitle>

<ErrorBoundary>
    <ChildContent>
    <div class="center">
        @Body
    </div>
    </ChildContent>
    <ErrorContent Context="ex">
        <p class="error">@ex.Message</p>
    </ErrorContent>
</ErrorBoundary>